/********************************************************* Start Footer Style Sction****************************************************/

.imageStore {
    width: 100px;
}

.imageBrand {
    width: 100px;
    margin-bottom: 10px;
}

.UsefullLinks li {
    margin-bottom: 14px !important;
    cursor: pointer;
    transition: all 0.5s linear;
}

.UsefullLinks li:hover {
    color: #ff523b;
    transform: translateX(-5px);
}

.icon {
    font-size: 12px !important;
    transition: all 0.5s linear;
}

.desc {
    transition: all 0.5s linear !important;
    cursor: pointer;
}

.icon,
.desc:hover {
    transform: translateX(-5px);
    color: #ff523b !important;
}

.myNames {
    color: #ff523b;
    font-weight: 700;
    cursor: pointer;
}

.socialMe {
    cursor: pointer;
}

.socialMe .fab1:hover {
    color: #1877f2 !important;
    transform: translateY(-5px);
}

.socialMe .fab2:hover {
    color: #c32aa3!important;
    transform: translateY(-5px);
}

.socialMe .fab3:hover {
    color: #0a66c2 !important;
    transform: translateY(-5px);
}

.socialMe .fab4:hover {
    color: #1da1f2 !important;
    transform: translateY(-5px);
}

.socialMe .fab5:hover {
    color: #ff0000 !important;
    transform: translateY(-5px);
}

.socialMe .fab6:hover {
    color: #4285f4 !important;
    transform: translateY(-5px);
}

.socialMe .fab7:hover {
    color: #25d366!important;
    transform: translateY(-5px);
}

.socialMe .svg-inline--fa {
    color: #ffffff !important;
    font-size: 15px;
    transition: all 0.5s linear;
    margin-left: 5px;
}


/********************************************************* End Footer Style Sction****************************************************/


/**********************************************************Start Media Query Responsive*************************************************/

@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }
    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }
    .pBrand {
        margin-top: 10px;
    }
    .imageBrand {
        width: 35%;
    }
    .sefullLinks li {
        text-align: center;
    }
    .infoIcon h4,
    p {
        text-align: center;
    }
    .desc {
        position: relative;
    }
    .icon {
        position: absolute;
        top: 45%;
        left: 25%;
        font-size: 15px !important;
    }
}

@media only screen and (min-width: 992px) {
    .desc {
        position: relative;
    }
    .icon {
        position: absolute;
        top: 45%;
        right: 97%;
        font-size: 18px !important;
    }
}


/**********************************************************End Media Query Responsive*************************************************/
