<!----------Start Footer section------------->
<footer class="bg-dark pt-4 pb-3">
    <div class="container text-white text-center">
        <div class="row text-white text-center">
            <div class="col-4 mx-auto mt-4 px-3 py-3 mb-4">
                <h4 class="mb-4">Download Our App</h4>
                <p class="pb-4">Download App For Android And Ios Mobile Phone.</p>
                <img class="imageStore mx-1" src="../../assets/images/play-store.png" alt="" srcset="" />
                <img class="imageStore" src="../../assets/images/app-store.png" alt="" srcset="" />
            </div>
            <div class="col-3 mx-auto mt-3 mb-5">
                <img class="imageBrand mb-3" src="../../assets/images/logo-white.png" alt="" srcset="" />
                <p class="text-muted mt-3 ">
                    Our Purpose To Sustainable Make The Pleasure And BeneFits Of Sports Accessible To Many.
                </p>
            </div>
            <div class="col-md-2 text-md-start  mt-4">
                <h4 class="mb-3">Usefull Links</h4>
                <ul class="UsefullLinks  list-unstyled ">
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="infoIcon col-md-3 text-start pb-5 mt-4">
                <h4 class="mb-3">Contact US</h4>
                <p class="desc  py-2">
                    <i class="icon  fa fa-location-dot me-3"></i> 6th of October City Giza
                </p>
                <p class="desc  py-2 "><i class="icon  fa fa-phone me-3"></i> +201094529752</p>
                <p class="desc py-2 ">
                    <i class="icon  fa-solid fa-envelope me-3"></i> TaherSalah2016@gmail.com
                </p>
            </div>
            <hr class="mb-4">
        </div>
        <div class="row">
            <div class="col-md-7 text-center">
                <p>Copyright <i class="Copyright fa fa-copyright"></i> March 2022 All Rights Reseved by
                    <a class="myNames text-decoration-none">Pro Taher Salah</a>
                </p>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li class="socialMe list-inline-item"><i class="fab1 fab fa-facebook"></i></li>
                    <li class="socialMe list-inline-item"><i class="fab2 fab fa-instagram"></i></li>
                    <li class="socialMe list-inline-item"><i class="fab3 fab fa-linkedin"></i></li>
                    <li class="socialMe list-inline-item"><i class="fab4 fab fa-twitter"></i></li>
                    <li class="socialMe list-inline-item"><i class="fab5 fab fa-youtube"></i></li>
                    <li class="socialMe list-inline-item"><i class="fab6 fab fa-google"></i></li>
                    <li class="socialMe list-inline-item"><i class="fab7 fab fa-whatsapp"></i></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
