<header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
            <a class="navbar-brand ms-4" routerLink="home"><img src="../../assets/images/logo.png" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center my-4">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLinkActive="activeLink , nav-link" routerLink="home">Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="contact">Contact</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="details">details</a>
                  </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLinkActive="activeLink">
              Account
            </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" routerLink="register">Register</a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="login">Login</a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="settings/log">Logout</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="">
                            <img src="../../assets/images/cart.png" class="cartIcon " routerLink="" alt="cart" width="25px" height="27px" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
