
ul li a {
  margin-left: 50px;
  transition: all 0.5s linear;
  color: rgb(235, 91, 8) !important;
}
ul li a:hover{
background-color: rgb(118, 156, 14);border-radius: 30%;
color: black;

}
.navActive
{
  background-color: beige;
  border-radius: 20%;
}
.test
{
  font-weight: 900;
}
