<nav class="navbar navbar-expand-lg navbar-dark  bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TAHER</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto me-5">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="navActive test" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLinkActive="navActive test" routerLink="/about-me">About-Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLinkActive="navActive test" routerLink="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLinkActive="navActive test" routerLink="/contacts">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="navActive test" routerLink="/gallary">Gallary</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
