h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: bisque;
    font-weight: 800;
    font-size: 50px;
}
p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(197, 120, 25);
    font-weight: 800;
    font-size: 30px;  
    margin-top: -10px;
}