<!----------Start Singel Products Details section------------->

<div class="smallContainer  productsDetails">
    <div class="row">
        <div class="col-4">
            <img src="../../assets/images/gallery-1.jpg" id="productImg" alt="">
            <div class="small-img-row">
                <div class="small-img-col">
                    <img src="../../assets/images/gallery-1.jpg" alt="">
                </div>
                <div class="small-img-col">
                    <img src="../../assets/images/gallery-2.jpg" alt="">
                </div>
                <div class="small-img-col">
                    <a><img src="../../assets/images/gallery-3.jpg" alt=""></a>
                </div>
                <div class="small-img-col">
                    <img src="../../assets/images/gallery-4.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-4 colContentDetails py-4">
            <p>Home / T-Shirt</p>
            <h2 class="h1">Red printd T-Shirt By HRX</h2>
            <h4>$50.00</h4>
            <select class="form-control">
        <option value="">Select Size</option>
        <option value="">XXL</option>
        <option value="">XL</option>
        <option value="">Large </option>
        <option value="">Medium </option>
        <option value="">Small </option>
      </select>
            <input placeholder="1" type="number" class="form-control">
            <a href=" " class="btn btnCart ">Add To Cart </a>
            <h3 class="">Products Details
                <i class="fa icon2 fa-indent ms-2 "></i>
            </h3>
            <p class="text-muted">Give Your Summer Wardrobe a Style Upgrade With The HRX Men's Active T-Shirt .Team it with a pair Of Shorts For Your Morning Work Out Or Demins For An Evening Out With The Guys
            </p>
        </div>
    </div>
</div>





<!----------End Singel Products Details section------------->
<!----------Start Products section------------->
<div class=" container py-5 ">
    <div class="products ">
        <div class="smallContainer ">
            <div class="row ">
                <div class="col-4 colProductContent ">
                    <img src="../../assets/images/product-1.jpg " width="100% " alt="product-1 " />
                    <h4 class="titleProducts ">Red Printed T-Shirt</h4>
                    <p class="productsPrice ">50.00$</p>
                    <div class="rating ">
                        <i class="fa fa-star "></i>
                        <i class="fa fa-star "></i>
                        <i class="fa fa-star "></i>
                        <i class="fa fa-star "></i>
                        <i class="fa-solid fa-star-half-stroke "></i>
                    </div>
                </div>
                <div class="col-4 colProductContent ">
                    <img src="../../assets/images/product-2.jpg " width="100% " alt="product-1 " />
                    <h4 class="titleProducts ">Red Printed Shoes</h4>
                    <p class="productsPrice ">80.00$</p>
                    <div class="rating ">
                        <i class="fa fa-star "></i>
                        <i class="fa fa-star "></i>
                        <i class="fa fa-star "></i>
                        <i class="fa fa-star "></i>
                        <i class="fa-regular fa-star "></i>
                    </div>
                </div>
                <div class="col-4 colProductContent ">
                    <img src="../../assets/images/product-3.jpg " width="100% " alt="product-1 " />
                    <h4 class="titleProducts ">Red Printed Trouser</h4>
                    <p class="productsPrice ">100.00$</p>
                    <div class="rating ">
                        <i class="fa fa-star "></i>
                        <i class="fa fa-star "></i>
                        <i class="fa fa-star "></i>
                        <i class="fa fa-star "></i>
                        <i class="fa-solid fa-star-half-stroke "></i>
                    </div>
                </div>
                <div class="col-4 colProductContent ">
                    <img src="../../assets/images/product-4.jpg " width="100% " alt="product-1 " />
                    <h4 class="titleProducts ">Red Printed T-Shirt</h4>
                    <p class="productsPrice ">50.00$</p>
                    <div class="rating ">
                        <i class="fa fa-star "></i>
                        <i class="fa fa-star "></i>
                        <i class="fa fa-star "></i>
                        <i class="fa-solid fa-star-half-stroke "></i>
                        <i class="fa-regular fa-star "></i>
                    </div>
                </div>
            </div>
        </div>