<!-- <p>about-me works!</p>
<table class="table w-50 m-auto">
        <thead>
                <th>Name</th>
                <th>Age</th>
                <th>Salary</th>
        </thead>
        <tbody>
                <tr ngFor="let x of tabel ">{{x}}</tr>
                <td>{{tabel.name}}</td>
                <td>{{tabel.age}}</td>
                <td>{{tabel.salary}}</td>
        </tbody>
        
        </table>













<h1 class="text-center bg-dark text-white py-5 "><i class="fa fa-home px-5" ></i>My Name Is {{userName}}</h1>
<h2>My Name Is {{userAge}}</h2>
<h3 [style.color]=" productPrice>100?'red':'green'">My Name Is {{userGender}}</h3>
<img [src]='imgSrc'>

<h1 [style.text-align]="productPr>100?'center':'left'"> this product price display </h1>

<h5 [class.bg-danger]="productPr>1000">kfkd</h5>
<h6 [style]='productPr>500?mainStyle:secStyle'>taher salah</h6>

<div *ngIf="productPr>500;else demo" class="w-50 bg-dark text-center">
        <img [src]="imgSrc"class="w-100">
        <h1>{{userName}}</h1>
        <p class="text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, delectus.</p>
</div>
<ng-template #demo>
    <div class="w-50 bg-dark text-center">
        <h1>{{userName}}</h1>
        <p class="text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, delectus.</p>
</div>
</ng-template>

< <button (click) = " hello($event)"> click now </button>

<input  type="text"  (keyup.enter) ="welcom()" > --> 

