<!----------Start Products section------------->
<div class="container py-5">
  <div class="products">
    <div class="smallContainer">
      <div class="row rowPage">
        <h2 class="title">All Products</h2>
        <select class="form-control w-25">
          <option> Select Sorting </option>
          <option> Defualt Sorting </option>
          <option> Sort By Price </option>
          <option> Short By Popularity </option>
          <option> Sort By Rating </option>
          <option> Sort By Sale </option>
        </select>
      </div>
      <div class="row">
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-1.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed T-Shirt</h4>
          <p class="productsPrice">50.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-2.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed Shoes</h4>
          <p class="productsPrice">80.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-3.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed Trouser</h4>
          <p class="productsPrice">100.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-4.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed T-Shirt</h4>
          <p class="productsPrice">50.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-3.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed Trouser</h4>
          <p class="productsPrice">100.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-4.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed T-Shirt</h4>
          <p class="productsPrice">50.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-2.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed Shoes</h4>
          <p class="productsPrice">80.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-3.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed Trouser</h4>
          <p class="productsPrice">100.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-4.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed T-Shirt</h4>
          <p class="productsPrice">50.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-3.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed Trouser</h4>
          <p class="productsPrice">100.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-4.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed T-Shirt</h4>
          <p class="productsPrice">50.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-2.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed Shoes</h4>
          <p class="productsPrice">80.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-3.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed Trouser</h4>
          <p class="productsPrice">100.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-4.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed T-Shirt</h4>
          <p class="productsPrice">50.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-3.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed Trouser</h4>
          <p class="productsPrice">100.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-4.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed T-Shirt</h4>
          <p class="productsPrice">50.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-2.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed Shoes</h4>
          <p class="productsPrice">80.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-3.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed Trouser</h4>
          <p class="productsPrice">100.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-4.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed T-Shirt</h4>
          <p class="productsPrice">50.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-3.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed Trouser</h4>
          <p class="productsPrice">100.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-4.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed T-Shirt</h4>
          <p class="productsPrice">50.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-2.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed Shoes</h4>
          <p class="productsPrice">80.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-3.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed Trouser</h4>
          <p class="productsPrice">100.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-4.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed T-Shirt</h4>
          <p class="productsPrice">50.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-3.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed Trouser</h4>
          <p class="productsPrice">100.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-4.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed T-Shirt</h4>
          <p class="productsPrice">50.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-2.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed Shoes</h4>
          <p class="productsPrice">80.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-3.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed Trouser</h4>
          <p class="productsPrice">100.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-4.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed T-Shirt</h4>
          <p class="productsPrice">50.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-3.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed Trouser</h4>
          <p class="productsPrice">100.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-4.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed T-Shirt</h4>
          <p class="productsPrice">50.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-2.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed Shoes</h4>
          <p class="productsPrice">80.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-3.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed Trouser</h4>
          <p class="productsPrice">100.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-4.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed T-Shirt</h4>
          <p class="productsPrice">50.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-3.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed Trouser</h4>
          <p class="productsPrice">100.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
        </div>
        <div class="col-4 colProductContent">
          <img src="../../assets/images/product-4.jpg" width="100%" alt="product-1" />
          <h4 class="titleProducts">Red Printed T-Shirt</h4>
          <p class="productsPrice">50.00$</p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div class="pageNumber text-center">
          <span>1</span>
          <span>2</span>
          <span>3</span>
          <span>4</span>
          <span>5</span>
          <span>&#8594;</span>
        </div>
      </div>
