<!---------End Header section------------->
<header>
    <div class="container">
        <div class="row">
            <div class="col-2 colH1">
                <h1>
                    Give Your Workout <br /> A New Style !
                </h1>
                <p class="text-muted">
                    Success Isn't Always About Greatness . It's About Consistency Consistent <br /> Hard Work Gains Success Greatness Will Come .
                </p>
                <a href="" class="btn">Explor Now &#8594; </a>
            </div>
            <div class="col-2 w-50  py-md-5 colImag">
                <img class="py-md-5" src="../../assets/images/image1.png" alt="image-header" />
            </div>
        </div>
    </div>
</header>

<!----------End Header section------------->

<!----------Start Gategory section------------->
<div class="container">
    <div class="catogry">
        <div class="smallContainer">
            <div class="row">
                <div class="col-3 colContentCatogry">
                    <img src="../../assets/images/category-1.jpg" alt="category-1" />
                </div>
                <div class="col-3 colContentCatogry">
                    <img src="../../assets/images/category-2.jpg" alt="category-2" />
                </div>
                <div class="col-3 colContentCatogry">
                    <img src="../../assets/images/category-3.jpg" alt="category-3" />
                </div>
            </div>
        </div>
    </div>
</div>

<!----------End Gategory section------------->

<!----------Start Products section------------->
<div class="container">
    <div class="products">
        <div class="smallContainer">
            <h2 class="title">Featured Products</h2>
            <div class="row">
                <div class="col-4 colProductContent">
                    <img src="../../assets/images/product-1.jpg" width="100%" alt="product-1" />
                    <h4 class="titleProducts">Red Printed T-Shirt</h4>
                    <p class="productsPrice">50.00$</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                </div>
                <div class="col-4 colProductContent">
                    <img src="../../assets/images/product-2.jpg" width="100%" alt="product-1" />
                    <h4 class="titleProducts">Red Printed Shoes</h4>
                    <p class="productsPrice">80.00$</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
                <div class="col-4 colProductContent">
                    <img src="../../assets/images/product-3.jpg" width="100%" alt="product-1" />
                    <h4 class="titleProducts">Red Printed Trouser</h4>
                    <p class="productsPrice">100.00$</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                </div>
                <div class="col-4 colProductContent">
                    <img src="../../assets/images/product-4.jpg" width="100%" alt="product-1" />
                    <h4 class="titleProducts">Red Printed T-Shirt</h4>
                    <p class="productsPrice">50.00$</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
                <h2 class="title">Letset Products</h2>
                <div class="col-4 colProductContent">
                    <img src="../../assets/images/product-5.jpg" width="100%" alt="product-1" />
                    <h4 class="titleProducts">Red Printed T-Shirt</h4>
                    <p class="productsPrice">50.00$</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                </div>
                <div class="col-4 colProductContent">
                    <img src="../../assets/images/product-6.jpg" width="100%" alt="product-1" />
                    <h4 class="titleProducts">Red Printed T-Shirt</h4>
                    <p class="productsPrice">50.00$</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                </div>
                <div class="col-4 colProductContent">
                    <img src="../../assets/images/product-7.jpg" width="100%" alt="product-1" />
                    <h4 class="titleProducts">Red Printed T-Shirt</h4>
                    <p class="productsPrice">50.00$</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                </div>
                <div class="col-4 colProductContent">
                    <img src="../../assets/images/product-8.jpg" width="100%" alt="product-1" />
                    <h4 class="titleProducts">Red Printed T-Shirt</h4>
                    <p class="productsPrice">50.00$</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                </div>
                <div class="col-4 colProductContent">
                    <img src="../../assets/images/product-9.jpg" width="100%" alt="product-1" />
                    <h4 class="titleProducts">Red Printed T-Shirt</h4>
                    <p class="productsPrice">50.00$</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                </div>
                <div class="col-4 colProductContent">
                    <img src="../../assets/images/product-10.jpg" width="100%" alt="product-1" />
                    <h4 class="titleProducts">Red Printed T-Shirt</h4>
                    <p class="productsPrice">50.00$</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                </div>
                <div class="col-4 colProductContent">
                    <img src="../../assets/images/product-11.jpg" width="100%" alt="product-12" />
                    <h4 class="titleProducts">Red Printed T-Shirt</h4>
                    <p class="productsPrice">50.00$</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                </div>
                <div class="col-4 colProductContent">
                    <img src="../../assets/images/product-12.jpg" width="100%" alt="product-13" />
                    <h4 class="titleProducts">Red Printed T-Shirt</h4>
                    <p class="productsPrice">50.00$</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!----------End Products section------------->

<!----------Start Offer section------------->

<div class="offer">
    <div class="smallContainer">
        <div class="row">
            <div class="col-2">
                <img src="../../assets/images/exclusive.png" class="imgOffer" alt="OfferBranding" />
            </div>
            <div class="col-2 colOfferContent">
                <p class="pBrand">Exclusive Avaliable On Red Store</p>
                <h3 class="h1">Smart Brand</h3>
                <small>The Mi Smart Brand 4 Features A 39.9 % Larger (Then Mi Brand 3)
          AMOLED Color Everything Is clear As Can Be .</small
        ><br>
        <a href="" class="btn ">Buy Now &#8594; </a>
      </div>
    </div>
  </div>
</div>

<!----------End Offer section------------->

<!----------Start Testimonials section------------->
<div class="testimonials position-relative">
  <div class="container">
    <owl-carousel-o [options]="testmonialsSlider">
      <ng-template carouselSlide>
        <div class="imageSliders">
          <img class="w-75" src="../../assets/images/user-1.png" />
        </div>
        <div class="sliderContent">
          <h3 class="">Mabel Smith</h3>
          <p class="px-2">
            <i class="fa-solid fa-quote-left"></i> Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Error modi excepturi odit quod aliquid
            adipisci laborum omnis numquam nemo dignissimos?
            <i class="fa-solid fa-quote-right"></i>
          </p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="imageSliders">
          <img class="w-75" src="../../assets/images/user-2.png" />
        </div>
        <div class="sliderContent">
          <h3>Mike Joe</h3>
          <p class="px-2">
            <i class="fa-solid fa-quote-left"></i> Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Error modi excepturi odit quod aliquid
            adipisci laborum omnis numquam nemo dignissimos?
            <i class="fa-solid fa-quote-right"></i>
          </p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="imageSliders">
          <img
            class="w-75"
            src="../../assets/images/user-4.jpg"
            height="168px"
          />
        </div>
        <div class="sliderContent">
          <h3>Taher Salah</h3>
          <p class="px-2">
            <i class="fa-solid fa-quote-left"></i> Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Error modi excepturi odit quod aliquid
            adipisci laborum omnis numquam nemo dignissimos?
            <i class="fa-solid fa-quote-right"></i>
          </p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="imageSliders">
          <img class="w-75" src="../../assets/images/user-3.png" />
        </div>
        <div class="sliderContent">
          <h3>Sean Parker</h3>
          <p class="px-2">
            <i class="fa-solid fa-quote-left"></i> Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Error modi excepturi odit quod aliquid
            adipisci laborum omnis numquam nemo dignissimos?
            <i class="fa-solid fa-quote-right"></i>
          </p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="imageSliders">
          <img class="w-75" src="../../assets/images/user-1.png" />
        </div>
        <div class="sliderContent">
          <h3 class="">Mabel Smith</h3>
          <p class="px-1">
            <i class="fa-solid fa-quote-left"></i> Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Error modi excepturi odit quod aliquid
            adipisci laborum omnis numquam nemo dignissimos?
            <i class="fa-solid fa-quote-right"></i>
          </p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="imageSliders">
          <img class="w-75" src="../../assets/images/user-2.png" />
        </div>
        <div class="sliderContent">
          <h3>Mike Joe</h3>
          <p class="px-2">
            <i class="fa-solid fa-quote-left"></i> Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Error modi excepturi odit quod aliquid
            adipisci laborum omnis numquam nemo dignissimos?
            <i class="fa-solid fa-quote-right"></i>
          </p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="imageSliders">
          <img class="w-75" src="../../assets/images/user-3.png" />
        </div>
        <div class="sliderContent">
          <h3>Sean Parker</h3>
          <p class="px-2">
            <i class="fa-solid fa-quote-left"></i> Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Error modi excepturi odit quod aliquid
            adipisci laborum omnis numquam nemo dignissimos?
            <i class="fa-solid fa-quote-right"></i>
          </p>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>

<!----------End Testimonials section------------->

<!----------Start Brands section------------->
<div class="brands">
  <div class="container">
    <div class="row">
      <div class="imageBrnds d-flex justify-content-center">
        <div class="col-2">
          <img src="../../assets/images/logo-coca-cola.png" alt="" srcset="" />
        </div>
        <div class="col-2">
          <img src="../../assets/images/logo-godrej.png" alt="" srcset="" />
        </div>
        <div class="col-2">
          <img src="../../assets/images/logo-oppo.png" alt="" srcset="" />
        </div>
        <div class="col-2">
          <img src="../../assets/images/logo-paypal.png" alt="" srcset="" />
        </div>
        <div class="col-2">
          <img src="../../assets/images/logo-philips.png" alt="" srcset="" />
        </div>
      </div>
    </div>
  </div>
</div>
<!----------End Brands section------------->
