<div class="position-fixed bottom-0  end-0 start-0 text-center py-4  text-warning  bg-dark">
  <h1>this footer</h1>
  <ul class="d-flex list-unstyled justify-content-around">
    <li class=""><i class="fa fa-hammer">hammer</i></li>
    <li class=""><i class="fa fa-navicon">menu</i></li>
    <li class=""><i class="fa fa-hamsa">hammer</i></li>
    <li class=""><i class="fa fa-hammer">hammer</i></li>
    <li class=""><i class="fa fa-hammer">hammer</i></li>
    <li class=""><i class="fa fa-hammer">hammer</i></li>


  </ul>
</div>
